@media (max-width: 1024px) {
    .pictures {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 1200px;

    }

    .divpic1 {
        width: 350px;
        height: 500px;
        margin-bottom: 40px;
    }

    divpic1 img {
        width: 100%;

    }

    .sectdiv2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .sect2div-bg {
        margin-bottom: 40px;
    }

    .nav-ul {
        display: none;
    }

    .burger-bar {
        display: block;
        color: rgb(253, 251, 251);
        font-size: 30px;
        z-index: 101;
    }
    .container{
        width: 800px;
        height: 700px;
    }
    .wrapper{
        height: 900px;
    }
    .card{
        margin-bottom: 60px;
    }
}

@media(max-width:1050px) {
    .container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        max-width: 960px;
    }

    .footer-block2 {
        width: 600px;
    }
    .container{
        width: 800px;
        height: 800px;
    }
    .wrapper{
        height: 1000px;
    }
    .card{
        margin-bottom: 60px;
    }
}

@media(max-width:768px) {
    .pictures {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 2200px;
    }

    .footer-conteiner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 400px;
    }

    .footer-block2 {
        width: 370px;
    }

}

@media (max-width:380px) {
    .footer-block2 {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .divpic1 {
        height: 320px;
        width: 220px;

    }

    .divpic1 img {
        width: 100%;

    }

    .pictures {
        height: 1500px;
    }

    .sect2div-bg {
        height: 300px;
        width: 220px;
    }

    .sec2image {
        height: 300px;
    }


    .wrapper {
        width: 220px;
        margin-left: 18px;

    }

    .footer-conteiner {
        margin-left: 30px;
    }

    .li-footer {
        width: 260px;
    }
}

@media (max-width:480px) {
    .footer-conteiner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 200px;
    }

    .divpic1 {
        height: 320px;
        width: 250px;

    }

    .divpic1 img {
        width: 100%;
        height: 340px;

    }

    .pictures {
        height: 1500px;
    }

    .sect2div-bg {
        height: 350px;
        width: 240px;
    }

    .sec2image {
        height: 350px;
    }

    .footer-block2 {
        width: 100px;
    }

    .h1-footer {
        max-width: 100%;
    }

    .footer-conteiner {
        margin-left: 50px;
    }

    .li-footer {
        width: 260px;
    }
    
    .container{
        width: 200px;
        height: 800px;
    }
    .wrapper{
        height: 1000px;
    }
    .card{
        margin-bottom: 60px;
    }
}

@media (max-width:415px) {
    .footer-block2 {
        max-width: 300px;
        margin-left: 0px;
    }

    .last {
        width: 300px;

    }
    
    

}

@media (max-width:580px) {
    .span-word {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 400px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .footer-block2 {
        width: 400px;
    }

    .container {
        display: grid;
        grid-template-columns: 68% 68%;
        max-width: 960px;
    }
    .wrapper{
        height: 1300px;
        width: 520px;
    }
    .container{
        height: 1200px;
        width: 380px;
        margin-left: 30px;
    }
}
@media (max-width:535px) {
    .container{
        max-width: 100%;
        width: 300px;
        height: 900px;
    }
    .wrapper{
        height: 1000px;
        width: 400px;
        max-width: 100%;
    }
    .card{
        margin-bottom: 60px;
    }
}