@media (max-width: 1024px) {
    .pictures {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: 1200px;

    }

    .divpic1 {
        width: 350px;
        height: 500px;
        margin-bottom: 40px;
    }

    divpic1 img {
        width: 100%;

    }

    .sectdiv2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .sect2div-bg {
        margin-bottom: 40px;
    }

    .nav-ul {
        display: none;
    }

    .burger-bar {
        display: block;
        color: rgb(253, 251, 251);
        font-size: 30px;
        z-index: 101;
    }
}

@media(max-width:1050px) {
    .container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        max-width: 960px;
    }

    .footer-block2 {
        width: 600px;
    }
}

@media(max-width:768px) {
    .pictures {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 2200px;
    }

    .footer-conteiner {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 400px;
    }

    .footer-block2 {
        width: 600px;
    }

}

@media (max-width:380px) {
    .footer-block2 {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .divpic1{
        height: 320px;
        width: 220px;

    }
    .divpic1 img {
        width: 100%;
       
    }
    .pictures{
        height: 1500px;
    }
    .sect2div-bg{
        height: 300px;
        width: 220px;
    }
    .sec2image{
        height: 300px;
    }
}

@media (max-width:480px) {
    .footer-conteiner {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 200px;
    }
    .divpic1{
        height: 320px;
        width: 250px;

    }
    .divpic1 img {
        width: 100%;
        height: 340px;
       
    }
    .pictures{
        height: 1500px;
    }
    .sect2div-bg{
        height: 350px;
        width: 240px;
    }
    .sec2image{
        height: 350px;
    }
}

@media (max-width:580px) {
    .last {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 400px;
    }

    .container {
        display: grid;
        grid-template-columns: 68% 68%;
        max-width: 960px;
    }
}